<section id="contact">
    <div class="container">
        <h3>Contact Me</h3>
        <p>Quedo a su entereda disposicion y espero ansioso una pronta respuesta.</p>
        <form method="post" action="https://formsubmit.co/francomedina1231@gmail.com">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
                <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                <div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
                <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                <div class="col-12">
                    <input type="hidden" name="_next" value="http://127.0.0.1:5500/">
                    <input type="hidden" name="_captcha" value="false">
                    <ul class="actions">
                        <li><input type="submit" class="primary" value="Send Message" /></li>
                        <li><input type="reset" value="Reset Form" /></li>
                    </ul>
                </div>
            </div>
        </form>
        <ul class="icons">
            <li><a href="assets/img/curriculumFrancoMedina.pdf" target="_blank"  class="button icon solid fa-download">CVFrancoMedina</a></li>
            <li><a href="https://www.linkedin.com/in/franco-medina-1474411aa/" target="_blank" class="icon brands fa-linkedin"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/francomedina1" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="mailto:francomedina1231@gmail.com" target="_blank" class="icon solid fa-envelope" ><span class="label">Email</span></a></li>
        </ul>
    </div>
</section>