 <h1>Iniciar Sesion</h1>
 <form  [formGroup]="form"class="m-5" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuario</label>
      <input type="user" formControlName="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"></div>
      <div *ngIf="user?.invalid && (user?.dirty || user?.touched)">
        <div *ngIf="user?.errors?.['required']" class="text-danger">
            El usuario es requerido.
        </div>
        
    </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="pwd" formControlName="pwd"  class="form-control" id="exampleInputPassword1">
      <div *ngIf="pwd?.invalid && (pwd?.dirty || pwd?.touched)">
        <div *ngIf="pwd?.errors?.['required']" class="text-danger">
            El Password es requerido.
        </div>
        <div *ngIf="pwd?.errors?.['minLength']" class="text-danger">
            El Password debe tener al menos 8 caracteres.
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="verificarusuario()">Enviar</button>
  </form>
  