<section id="header">
    <header>
        <span class="image avatar"><img src="assets/img/fotoperfil.jpg" alt="foto" /></span>
        <h1 id="logo" >Franco Medina</h1>
        
    </header>
    <nav id="nav">
        <ul>
            <li><a href="iniciar-sesion"  >iniciar-sesion</a></li>
            <li><a href="portfolio#aboutme"  >Acerca de mi</a></li>
            <li><a href="portfolio#study">Formacion Academica</a></li>
            <li><a href="portfolio#skills">Habilidades</a></li>
            <li><a href="portfolio#experience">Experiencias</a></li>
            <li><a href="portfolio#contact">Contacto</a></li>
        </ul>
    </nav>
</section>